<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>Biography</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Hi there! I'm Christine Van Kirk, and I'm a junior computer science student studying at the University of Notre Dame. I'm also minoring in theology and engineering corporate practice (a joint business minor through the College of Engineering and Mendoza College of Business). In my free time I like to skateboard, attend yoga classes, and read different books! Thanks for checking out my personal page! .</p>

