<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Hi! I'm Christine Van Kirk, and I'm a current junior at the University of Notre Dame majoring in Computer Science and minoring in Theology and General Business. Outside of school, some of my hobbies include skateboarding and traveling. Feel free to poke around my website! This was created by expanding upon the open-source code provided by github (https://github.com/github/personal-website), and my personal fork of this repository with my corresponding commits can be found at (https://github.com/cvankir2/cvankir2.github.io). </p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts limit: 6 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include post-card.html %}
    </div>
  {% endfor %}
</div>
