<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span style="color: #0466d6">Projects & Experience</span></h2>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Here are some previous projects I have worked on with their corresponding github repos.</p>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% if site.projects.sort_by == 'stars' %}
    {% assign sort_order = 'stargazers_count', 'last' %}
  {% else %}
    {% assign sort_order = 'pushed_at' %}
  {% endif %}

  {% assign filtered_repos = site.github.public_repositories | where:'archived', false | sort: sort_order | reverse %}

  {% for repository in filtered_repos | limit: site.projects.limit %}
    {% unless site.projects.exclude.projects contains repository.name %}
      <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
        {% include repo-card.html %}
      </div>
    {% endunless %}
  {% endfor %}
</div>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">I work as a <span style="color: #0466d6">Teaching Assistant<\span> for "Logic Design and Sequential Circuits", a required Computer Science course for sophomores. In addition, I work as a sworn-in <span style="color: #0466d6">Forensic Analyst<\span> for St. Joseph County's Police Department within their Cyber Crime unit. </p>

<!--
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  {% for post in site.posts limit: 6 %}
    <div class="col-sm-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include post-card.html %}
    </div>
  {% endfor %}
</div>
-->
